<h1> Send info here </h1>

<form method="Post" actions="/">
   First Name: <input name="fname"><br>
  Last Name: <input name="lname"><br>
  Adress: <input name="Adress"><br>
 <input>
     <input type="submit"
</form>          