<h1>Send info here</h1>

<form method="POST" action="/" style="color: white">
  First Name: <input name=fname> <br>
  Last Name: <input name=lname> <br>
  
   Email: <input name=email> <br>
   Picurl: <input name=picurl> <br>
   Birthday: <input name=birthday> <br>
   Day Of The Week: <input name=date> <br>
   Send a Tweet: <input name=tweet> <br>
   Month and date: <input name=month&date> <br>
  <input type="submit"><br>
</form>