<h1>Send info here</h1>

<form method="POST" action="/" style="color: white">
  first name: <input name=fname> <br>
  last name: <input name=lname> <br>
  
   email: <input name=email> <br>
   picurl: <input name=picurl> <br>
   birthday: <input name=birthday> <br>
  <input type="submit"><br>
</form>